/crash-reports
/downloads
/emojiful
/enigmatic_persistence.dat
/fancymenu_data
/fancymenu_setups
/ftb-conv
/ldlib
/local
/logs
/mods
/multiblocked
/options.txt
/o_prof
/patchouli_books
/patchouli_data.json
/quests_structures
/reauth.toml
/resourcepacks
/rhino.local.properties
/saves
/skyblock_exports
/usercache.json
/usernamecache.json